@tailwind base;
@tailwind components;
@tailwind utilities;

.matching {
  font-size: larger;
  font-weight: bolder;
  color: aqua;
}

.notmatching {
  font-size: larger;
  font-weight: bolder;
  color: red;
}
